<h3>MessageAdder</h3>


<input @bind="MyMessage" placeholder="Ecrivez votre message"/>
<button @onclick="AfficheMessage">Afficher Message</button>
<button @onclick="ResetList">supprimer la liste</button>

@code {
    private string MyMessage { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> OnbuttonAdd { get; set; }
    private async Task AfficheMessage()
    {
        if (OnbuttonAdd.HasDelegate)
        {
            await OnbuttonAdd.InvokeAsync(MyMessage);
            MyMessage = string.Empty;
        }
    }

    [Parameter]
    public EventCallback OnButtonReset { get; set; }
    private async Task ResetList()
    {
        if (OnButtonReset.HasDelegate)
        {
            await OnButtonReset.InvokeAsync();
        }
    }
}
