@page "/products"
@using FirstAppBlazor.Models

<h3>Liste des produits :</h3>

<ProductForm OnAddProduct="@AddProduct" />

@if (Products.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price €</td>
                    <td>@product.Stock</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Aucun produit disponible.</p>
}

@code {
    private List<Product> Products = new();

    private void AddProduct(Product product)
    {
        Products.Add(product);
    }
}
